NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyBeJqp0Kcqv_SBfSfXITywFL1dGWFPLQx0
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=invoice-615ab.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=invoice-615ab
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=invoice-615ab.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=634326472629
NEXT_PUBLIC_FIREBASE_APP_ID=1:634326472629:web:7565575d3f66ecc39c2bfc
TELEGRAM_BOT_TOKEN=8671171673:AAGqI3BacRQEeKm1YrVdhmqTKtiBA6S-B84
